[
    {
        "url": "https://www.gundamhobby.ca",
        "webhook_full": "",
        "webhook_diff": ""
    },
    {
        "url": "https://niigs.ca",
        "webhook_full": "",
        "webhook_diff": ""
    }
]